/* 
  variable 用 sassMap 管理
  media 要放在最下面
  normalize & reset & bs4 Reboot 擇一
  base 自用元件設定
*/

@charset 'UTF-8';

// 功能性
@import './utils/variable';

@import './utils/function';

@import './utils/mixin';

@import './utils/animation';

// Reset
@import './config/normalize';

@import './config/base';

// Layout
@import './layout/body';

@import './layout/nav';

@import './layout/footer';

// Page
@import './page/homePage';

@import './page/cartPage';

@import './page/jsWorkPage';

// 重要Class
.maxContentW {
  max-width: $max-contentW;
}

%box-shadow {
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.16);
}

// 測試區
.testArea {
  display: none;
  height: 30vh;
  padding: 20px;
  border-bottom: 0.5px solid brown;
}

// 實做區
.p-array-cardio {
  .b-array__table {
    tbody,th,td {
      text-align: center;
    }
  }
  .b-array__bar {
    padding: 10px 0;
    .b-array__input {
      padding: 3px;
      &[type=text]{
        padding: 10px;
        width: 120px;
        margin: 10px 0;
      }
      &[type=number]{
        width: 57px;
      }
      &[type=number]::-webkit-inner-spin-button, 
      &[type=number]::-webkit-outer-spin-button {  
        opacity: 1;
      }
    }
    span {
      font-weight: bold;
    }
  }
  
  .b-array__range__block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  #b-array__ans--every {
    font-weight: bold;
  }
}


#b-clock__form{
  input[type="number"]{
    padding: 8px 8px 8px 12px;
    width: 75px;
  }
}
.b-clock__display--inline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  p {
    font-weight: bold;
    margin-right: 1rem;
  }
}


// media
@import './media/media-setting';

@import './media/media';
