/* 
  variable 用 sassMap 管理
  media 要放在最下面
  normalize & reset & bs4 Reboot 擇一
  base 自用元件設定
  斷點採用 BS4設定 變數放於 media檔中
*/

@charset "UTF-8";

// 功能性
@import './utils/variable';
@import './utils/function';
@import './utils/mixin';

// Reset
@import './config/normalize';
@import './config/base';

// Layout
@import './layout/body';
@import './layout/nav';
@import './layout/footer';

// media
@import './media/media-setting';
@import './media/media';























// 測試用區域
.blankBlock { height: 100vh; }

.tl { border: .5px solid #f50057; }

.testArea {
  border: 0.5px solid #333;
  width: 500px;
  .tBlock {
    height: 150px;
  }
  .test {
    border: 0.5px solid color(light-blue);
    vertical-align: middle;
  }

  .testList {
    li:nth-child(1){
      color: red;
    }
  }
}