.welcomeArea {
  // margin-top: 56px;
  position: relative;

  .welcomeImg {
    display: block;
    margin: 0 auto;
    background-size: contain;
  }

  .welcomeBlock {
    @include center;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 50vw;
    text-align: center;
    padding: 15px;

    .welcomeTitle {
      font-size: 48px;
      font-weight: 700;
      color: #fff;
      font-family: $font-familyHand,$font-familyTC;
    }

    .welcomeSubTitle {
      color: #fff;
      // font-size: ;
      // text-decoration: underline;
      // font-style: italic;
    }
  }
}

.serviceArea {
  margin-bottom: 60px;

  .card {
    background-color: transparent;
    border: none;
  }

  .serviceImg {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    @include circle;
  }

  .serviceTitle {
    font-family: $font-familyHand,$font-familyTC;
  }
}

.conceptArea {
  background-color: color(brown5);
  color: #fff;
  padding: 0 15vw;

  .conceptImg {
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .conceptArticle {
    text-align: left;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;

    .conceptTitle {
      font-weight: 700;
    }

    .conceptText {
      display: block;
    }
  }

}

.userReviewArea {
  .row {
    padding: 0 5vw;
  }

  .userReviewImg {
    display: block;
    height: 67px;
    width: 67px;
    margin-right: 15px;
    @include circle;
  }

  .userReviewCard {
    padding: 10px;
  }

  .userReviewHeader {
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
  }
}

