.p-js-work__block {
  border: 3px solid color(brown4);
  padding: 15px;

  .p-js-work__title {
    font-size: $font-xl;
    font-weight: 700;
  }

  .p-js-work__subtitle {
    // font-weight: 700;
  }
}

.p-js-work__describe a{
  color: color(text-color)
}

#b-clock__form{
  input[type="number"]{
    padding: 8px 8px 8px 12px;
    width: 75px;
  }
}
.b-clock__display--inline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  p {
    font-weight: bold;
    margin-right: 1rem;
  }
}

.p-array-cardio {
  .b-array__table {
    tbody,th,td {
      text-align: center;
    }
  }
  .b-array__bar {
    padding: 10px 0;
    .b-array__input {
      padding: 3px;
      &[type=text]{
        padding: 10px;
        width: 120px;
        margin: 10px 0;
      }
      &[type=number]{
        width: 57px;
      }
      &[type=number]::-webkit-inner-spin-button, 
      &[type=number]::-webkit-outer-spin-button {  
        opacity: 1;
      }
    }
    span {
      font-weight: bold;
    }
  }
  
  .b-array__range__block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  #b-array__ans--every {
    font-weight: bold;
  }
}

.b-key {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 1rem 2rem 2rem 2rem;
  background-color: #212529;
  border-radius: 15px;
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }

  .b-key__text {
    font-size: $font-xl * 1.5;
  }

  .b-key__subtext {
    color: color(yellow);
    text-transform: uppercase;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.b-aqi__table--rule {
  text-align: center;
  height: 76px;
  overflow: scroll; 
  @include table-border(#000,2px);
  th {
    padding: 10px;
  }
}

.b-aqi__table--data {
  text-align: center;
  @include table-border(color(text-color),2px);
  th {
    padding: 10px;
  }
  tbody tr {
    padding: 200px;
  }
}

.b-aqi__showcase {
  .b-aqi__block {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid color(text-color);
    font-weight: bold;
    font-size: 2rem;
  }
  .b-aqi__pubTime {
    display: inline-block;
  }
}

// @each $var1,$var2 in <list/map>
// 渲染 aqi 表單
@each $key, $color in $aqi-c {
  .b-aqi__table--rule thead tr th{
    &:nth-child(#{$key}){
      background-color: $color;
    }
  }
}