// 圓形
@mixin circle {
  border-radius: 50%;
}

// 置中
@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// display flex
@mixin flex($dir: row,$align: center,$justify: center) {
  display: flex;
  flex-flow: $dir nowrap;
  align-items: $align;
  justify-content: $justify;
}


// Table 框架 顏色 & 厚度
@mixin table-border($color,$thick) {
  border: $thick solid $color;
  thead { border-bottom: $thick solid $color; }
  th{ border-right: $thick solid $color; }
  td { border-right: $thick solid $color; }
}