img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

ul {
  list-style-position: inside;
}

figure {
  margin: 0;
}

h1 , h2 , h3 , h4 , h5 , h6 {
  margin: 0;
}

textarea {
  resize: vertical;
}

input {
  padding: 8px 16px;
  &[type='button'] , &[type='reset'] , &[type='submit'] , {
    padding: 8px 16px;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

}

button {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
}