.siteNav {
  background: rgba(0,0,0,0.8);
  color: #FFF;
  .navbar-brand {
    &:hover {
      transform: scale(1.2);
      transition: 0.4s;
    }
  }
}

.siteNavItem {
  @include flex;
    i,span {
      color: #FFF;
    }
    &:hover {
      transform: scale(1.3);
      transition: 0.4s;
    }
}